apiVersion: v1
kind: Service
metadata:
  name: kube-state-metrics
  namespace: monitoring-wp
  labels:
    app: kube-state-metrics
spec:
  ports:
    - name: http-metrics
      port: 8080
      targetPort: 8080
  selector:
    app: kube-state-metrics
