apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring-wp
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
    - job_name: 'prometheus'
      static_configs:
      - targets: ['localhost:9090']

    - job_name: 'kubernetes-nodes'
      kubernetes_sd_configs:
      - role: node
      scheme: https
      tls_config:
        insecure_skip_verify: true

    - job_name: 'kubernetes-pods'
      kubernetes_sd_configs:
      - role: pod

    - job_name: 'node-exporter'
      kubernetes_sd_configs:
      - role: endpoints
